
.divprincimain {
    margin-top: 0px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f9cece3b;
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 100px;
    padding: 10px;
}
h2{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

h6{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.justificar{
    text-align: justify;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.img-historia {
    width: 100%;
    height: 500px;
  }
  
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}

#pdirec{
    text-align: left;
    
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}

.link:hover{
     color: cadetblue;
}

.buttonIngre{
    border: none;
    width: 40%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;    
}

.integra{
    display: flex;
        justify-content: center;
        align-items: center;
}


@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}


.divprincimain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    margin-bottom: 40px;
    margin-top: 10px;
    width: 900px;
}

.justificar {
    text-align: justify;
}

.img-historia {
    max-width: 100%;
    height: auto;
}








